main {
    padding-top: 110px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    /* Fundo externo da página */
    background-color: #fff;

    color: #172b3d;

}


header {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #f0f8ff;

    display: flex;
    align-items: center;
    justify-content: left;

    border-bottom: 1px solid #000000;

    padding: 0 28px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index:9999;
}

nav {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

nav a {
    color: #202020;
    text-decoration: none;

    font-family: monospace;
    font-size: 25px;

    transition: 0.2s;
}

nav a:hover {
    color: #0795d3;

}



#inicio,
#integrantes,
#metodologia,
#projetos,
#sobre {
    scroll-margin-top: 110px;
}

h2 {
    font-family: monospace;
    font-size: 34px;
    font-weight: 100;
    margin: 30px;
}


h3 {
    margin: 30px;
    font-family: Helvetica;
    text-align: left;
    font-size: 24px;
    font-weight: 100;
}



.logo {
    width: 90px;
    display: flex;

}

.logoOriginal {
    display: flex;
    height: 250px;
    justify-content: center;

}



.navegacao {
    display: flex;
    align-items: center;
    text-align: center;


}

.descricao {

    width: 1000px;
    margin: 0 auto 30px auto;
    padding: 20px;
    font-family: Helvetica;

    text-align: center;

    font-size: 24px;

}

.btmetodologia {

    display: flex;
    width: fit-content;
    
    margin: auto;

    padding: 16px 32px;
    border: 1px solid #202020;
    border-radius: 100px;

    color: #202020;
    font-family: monospace;
    font-size: 24px;
    text-decoration: none;
    background-color: #f0f8ff;

    transition: 0.2s;

}

.btmetodologia:hover {
    color: #0795d3;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tag {
    color: #0795d3;
}

.metodologia {

    width: 800px;
    margin-left: 30px;

    font-family: Helvetica;

    text-align: left;

    font-size: 28px;


}

.estudantes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.mentores{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.integrantes {
    width: 275px;
    height: 450px;

    border: 1px solid #333;
    border-radius: 5px;

    background-color: #f0f8ff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px;
}

.integrantes:hover {
    color: #0795d3;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    
}

/* DAQUI PRA BAIXO É INTEGRANTES */
.icone {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;

}

/* Nome */
.nome {
    margin: 0;
    color: #0099dd;
    font-size: 23px;
    text-align: center;
}

/* Frase */
.frase {
    margin-top: 35px;
    color: #222;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.stacks {
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.stack {

    display: flex;
    width: 200px;
    margin: auto;
    gap: 35px;
    margin: 35px;

    padding: 200px 150px;
    border: 1px solid #202020;
    border-radius: 10px;
    text-align: center;
    color: #0795d3;

    background-color: #f0f8ff;

}

.stack:hover {
 transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    
}


footer img {
    width: 40%;
    height: auto;
    display: flex;
    margin-block-end: 30px;
    justify-self: center;
}








/* =========================
           ESCONDE O CHECKBOX
        ========================= */

.modal-checkbox {
    display: none;
}


/* =========================
           MODAL
        ========================= */

.modal {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}


/* =========================
           QUANDO O CHECKBOX ESTÁ MARCADO
        ========================= */

.modal-checkbox:checked+.modal {
    opacity: 1;
    visibility: visible;
}


/* =========================
           CONTEÚDO DO POP-UP
        ========================= */

.modal-content {
    width: 1000px;
    height: 250px;
    background: #fff;
    padding: 30px;
    border: 1px solid #202020;

    border-radius: 20px;

    position: relative;

    transform: scale(0.7);

    transition: 0.3s;
}

.modal-checkbox:checked+.modal .modal-content {
    transform: scale(1);
}


/* IMAGEM DO MODAL */

.modal-content img {
    width: 200px;
    height: 230px;

    object-fit: cover;

    border-radius: 12px;

    margin-bottom: 20px;
}


/* TÍTULO */

.modal-content h2 {
    margin-bottom: 15px;
}


/* TEXTO */

.modal-content p {
    line-height: 1.6;
    color: #555;
}


/* =========================
           BOTÃO FECHAR
        ========================= */

.fechar {
    position: absolute;

    top: 15px;
    right: 20px;

    font-size: 30px;

    cursor: pointer;

    color: #555;
}

.fechar:hover {
    color: #0094d6;
}

.linkedin {

    margin-left: 30px;
    margin-top: 10px;
    padding: 10px 20px;

    background-color: #fff;
    color: black;
    border: 1px solid #202020;

    text-decoration: none;
    border-radius: 8px;

    transition: 0.3s;
}

.linkedin:hover {
    background-color: #f0f8ff;
     
}